<?xml version="1.0" ?>
<!--
/**
 * Copyright © Magefan (support@magefan.com). All rights reserved.
 * Please visit Magefan.com for license details (https://magefan.com/end-user-license-agreement).
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\Image">
        <plugin name="wrap_image_with_mf_comments" type="Magefan\ProductLabel\Plugin\Frontend\Magento\Catalog\Block\Product\Image" sortOrder="10" disabled="false"/>
    </type>

    

    <type name="Magento\Framework\Controller\ResultInterface">
        <plugin name="replace_mf_comments_on_product_labels" type="Magefan\ProductLabel\Plugin\Frontend\Magento\Framework\Controller\ResultInterface" sortOrder="-21" disabled="false"/>
    </type>

     <type name="Magento\Framework\App\ActionInterface">
        <plugin name="replace_mf_comments_on_product_labels_in_ajax_requests" type="Magefan\ProductLabel\Plugin\Frontend\Magento\Framework\App\ActionInterface" sortOrder="10001"/>
    </type>

    

    <type name="Magento\Catalog\Block\Product\View\Gallery">
        <plugin name="wrap_gallery_image_with_mf_comments" type="Magefan\ProductLabel\Plugin\Frontend\Magento\Catalog\Block\Product\View\Gallery" sortOrder="10" disabled="false"/>
    </type>

    <type name="MageSuite\ProductTile\Block\Tile\Container">
        <plugin name="add_mf_comments_to_mage_suite_product_tile" type="Magefan\ProductLabel\Plugin\Frontend\MageSuite\ProductTile\Block\Tile\Container" sortOrder="10" disabled="false"/>
    </type>

    <type name="Codazon\ThemeLayoutPro\Helper\Data">
        <plugin name="add_mf_comments_to_codazon_theme_layout_pro_data_helper" type="Magefan\ProductLabel\Plugin\Frontend\Codazon\ThemeLayoutPro\Helper\Data" sortOrder="10" disabled="false"/>
    </type>
</config>
